##
## SYMFONY APPLICATION
##

###> Doctrine migrations ###
migrations/*
###< Doctrine migrations ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDE Settings ###
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
###< IDE Settings ###

###> PHP Files ###
*.log
###< PHP Files ###
